.float-container {
  padding: 20px;
}

.float-child {
  width: 45%;
  float: left;
  padding: 20px;
  border: 2px solid blue;
}
.float-child2 {
  width: 45%;
  float: right;
  padding: 20px;
  border: 2px solid red;
}
